@{
    Layout = null;
}
<html>
<head>
    <script src="/lib/jquery/dist/jquery.js"></script>
    <link href="/miniui/themes/default/miniui.css" type="text/css" rel="stylesheet" />
    <link href="/miniui/themes/icons.css" type="text/css" rel="stylesheet" />
    <link href="/miniui/themes/bootstrap/skin.css" type="text/css" rel="stylesheet" />
    <script src="/miniui/miniui.js"></script>
    <style type="text/css">
        .txt {
            font-family: "微软雅黑", "Helvetica Neue",​Helvetica,​Arial,​sans-serif;
            font-size: 28px;
            font-weight: bold;
            cursor: default;
            margin-top: 20px;
            color: #444;
        }

        .topNav {
            position: absolute;
            right: 8px;
            top: 12px;
            font-size: 12px;
            line-height: 25px;
        }

            .topNav a {
                text-decoration: none;
                font-weight: normal;
                font-size: 12px;
                line-height: 25px;
                margin-left: 3px;
                margin-right: 3px;
                color: #333;
            }

                .topNav a:hover {
                    text-decoration: underline;
                }
    </style>
</head>
<body>
    <div id="layout1" class="mini-layout" style="width:100%;height:100%;" borderStyle="border:solid 1px #aaa;">
        <div region="north" height="80">
            <div class="txt">CMS文章管理系统</div>
            <div class="topNav">
                <a href="#">@ViewBag.UserName </a>
                <a href="#" id="logout">退出</a>
            </div>
        </div>
        <div title="south" region="south" showSplit="false" showHeader="true" height="80">
            south
        </div>
        <div region="west" width="200">
            <ul id="tree1" class="mini-tree" style="width:100px;padding:5px;height:500px"
                showTreeIcon="true" textField="text" idField="id" value="base" expandOnNodeClick="true">
                <li>
                    <a href="#" url="/userInfo/index" onclick="getUrl(this)">用户管理</a>
                </li>
                <li>
                    <a href="#" url="/articelInfo/index" onclick="getUrl(this)">文章管理</a>
                </li>
            </ul>
        </div>

        <div title="center" region="center">
            <iframe src="/userInfo/index" style="width:100%;height:100%" frameborder="0" id="iframe1"></iframe>
        </div>
    </div>
</body>
</html>
<script>
    function getUrl(obj) {
        const url = obj.getAttribute("url");
        console.log("url=", url);
        const iframe1 = document.querySelector("#iframe1");
        iframe1.src = url;
    }
    const logoutBtn = document.querySelector("#logout");
    logoutBtn.addEventListener("click", function () {
        if (confirm("确定要退出系统吗?")) {
            $.ajax({
                method: "post",
                url: "/login/logout",
                success: function (result) {
                    if (result.code === 200) {
                        location.href = "/login/index";
                    }

                }
            })
        }

    })
</script>