<form method="post" action="/video/fileUpload" enctype="multipart/form-data">
    <input type="file" name="filePath" /> <br />
    作者：<input type="text" name="author" /><br />
    内容简介：<textarea name="videoContent" rows="10" cols="20"></textarea><br />

    <input type="submit" value="上传视频" />
</form>